body{
    background-color: bisque;
}

div {
    /* background-color: rgb(201, 255, 243); */
    border: 1px solid #f0f;
}




.boton_magenta {
    background-color: #c229d2;
}









.btn-success{
    background: #781985;
}

.btn-enlace {
    background: #90e8f0;
}





